* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}

$color1: white; 
$color2: #F6F6F6; // цвет для контентного текста

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid #A3A3A3;
    position: absolute;
    z-index: 1;

    .wrapper {
        min-height: 60px;
        display: flex;
        align-items: stretch;
    }
    .logo {
        display: none;
        cursor: pointer;
        width: 65px;
        background: url(../images/logo.png) no-repeat center center / contain;
    }
    .menu-btn {
        cursor: pointer;
        margin: 0 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .btn-el {
            display: flex;
            div {
                height: 5px;
                width: 5px;
                margin: 1.5px;
                background: $color1;
            }
        }
    }
    nav {
        min-height: 60px;
        display: flex;
        align-items: stretch;
        margin-right: 20px;
        a {
            display: none;
            align-items: center;
            padding: 0 5px;
            color: #9F9F9F;
            font-size: 15px;
            &:hover {
                color: $color1;    
            }
        }
        .active {
            cursor: initial;
            display: flex;
            position: relative;
            color: $color1;
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                height: 4px;
                width: 100%;
                background-color: $color1;
            }
        }
    }
    .search {
        flex-grow: 1;
        border-left: 1px solid #A3A3A3;
        label {
            height: 100%;
            display: flex;
        }
        [type="search"] {
            background-color: rgba(255, 255, 255, 0);
            color: #FFFFFF;
            font-size: 13px;
            width: 140px;
            &::placeholder {
                color: $color1;
            }
        }
        .search-icon {
            margin: 0 10px;
            padding: 5px;
            background: url(../images/ikons/search.png) no-repeat center center / contain;
        }
    }
}

.picture {
    min-height: 480px;
    background: url(../images/bg-mobile.jpg) no-repeat center center / cover;
    position: relative;
    padding: 80px 20px 38px 20px;
    box-sizing: border-box;
    .cover {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .content {
        position: relative;
        z-index: 1;
        h2, p, a {
            font-weight: normal;
            color: $color2;
        }
        h1 {
            max-width: 150px;
            font-size: 25px;
            color: $color1;
            margin-bottom: 15px;
            line-height: 30px;
        }
        .actions {
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            .item {
                margin-bottom: 8px;
                display: flex;
                align-items: center;
                font-size: 15px;
                span {
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    border: 2px solid #F92251;
                    border-radius: 50%;
                }
                .watch {
                    background: #F92251 url(../images/ikons/arrow.png) no-repeat center center / 6px;
                }
                .mark {
                    background: url(../images/ikons/bookmark.png) no-repeat center center / 6px;
                }
            }
        }
        .description {
            h2 {
                font-size: 15px;
            }
            p {
                font-size: 17px;
                margin-bottom: 5px;
            }
            .reviews {
                display: flex;
                align-items: center;
                div {
                    display: flex;
                    // flex-direction: row-reverse;  // это для прикола с наведением на звездочки
                    .star {
                        margin-right: 10px;
                        width: 15px;
                        height: 15px;
                        background: url(../images/ikons/star.png) no-repeat center center / contain;
                        cursor: pointer;
                        // Прикольнулся с наведением на звездочки
                        // &:hover, &:hover~.star {
                        //     background: url(../images/ikons/star-active.png) no-repeat center center / contain;    
                        // }
                    }
                    .active {
                        background: url(../images/ikons/star-active.png) no-repeat center center / contain;    
                    }
                    
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.form {
    background-color: #1F1F2F;
    padding: 30px 20px 20px;
    .content {
        p {
            font-size: 17px;
            color: $color1;
            margin-bottom: 20px;
            text-align: center;
        }
        form {
            input, button {
                width: 100%;
                height: 35px;
                border-radius: 10px;
            }
            input {
                box-sizing: border-box;
                padding: 0 0 0 40px;
                font-size: 17px;
                color: rgb(80, 80, 80);
                position: relative;
                &::placeholder {
                    color: #82868E;
                }
            }
            button {
                background: #F92251;
                color: white;
                font-size: 17px;
                margin-bottom: 20px;
                padding: 0 20px;
            }

            label {
                display: block;
                margin-bottom: 20px;
                position: relative;
                .before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 10px;
                    margin: auto;
                    width: 15px;
                    height: 15px;
                }
                [name="name"] + .before {
                    background: url(../images/ikons/name.png) no-repeat center center / contain;
                } 
                [name="email"] + .before {
                    background: url(../images/ikons/email.png) no-repeat center center / contain;
                } 
            }
        }
    }
}

footer {
    background: #404754;
    padding: 16px 20px;
    font-size: 17px;
    nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        a {
            color: #BAC5D3;
            margin-bottom: 8px;
            text-decoration: underline;
        }
    }
    p {
        color: #BAC5D3;
    }
}


@media (min-width: 768px) {
    .header .menu-btn .btn-el div {
        height: 10px;
        width: 10px;
        margin: 2.5px;
        background: white;
    }
    .header nav a {
        margin: 0 18px;
        font-size: 18px;
    }
    .header .search [type="search"] {
        font-size: 14px;
        width: 170px;
    }
    .header .search .search-icon {
        padding: 10px;
        margin: 0 20px 0 40px;
    }

    .picture {
        min-height: 810px;
        padding: 110px 90px 85px 90px;
        background: url(../images/bg-desktop.png) no-repeat center left / cover;
    }

    .picture .content h1 {
        max-width: 500px;
        font-size: 90px;
        color: white;
        margin-bottom: 30px;
        line-height: 100px;
    }

    .picture .content .actions {
        flex-direction: row;
        margin-bottom: 80px;
        .item {
            margin-right: 50px;
        }
    }
    .picture .content .actions .item {
        font-size: 18px;
        span.watch, span.mark {
            margin-right: 10px;
            width: 50px;
            height: 50px;
            background-size: 12px;
        }
    }

    .picture .content .description h2 {
        font-size: 18px;
    }
    .picture .content .description p {
        font-size: 24px;
    }

    .picture .content .description .reviews div .star {
        margin-right: 17px;
        width: 22px;
        height: 22px;
        // background: url(../images/ikons/star.png) no-repeat center center/contain;
        cursor: pointer;
    }

    .picture .content .description {
        display: flex;
        flex-wrap: wrap;
        .description-item {
            margin-right: 80px;
            margin-bottom: 18px;
            &:nth-last-child(1) {
                width: 100%;
            }
        }
    }
    .form {
        padding-bottom: 55px;
    }
    .form .content form input, .form .content form button {
        width: 100%;
        min-width: 50px;
        height: 53px;
        box-sizing: border-box;
    }
    .form .content {
        max-width: 530px;
        margin: 0 auto;
        p {
            font-size: 25px;
        }
        form {
            display: flex;
            flex-wrap: wrap;
            label {
                flex-grow: 1;
                margin: 15px;
                // flex-shrink: 1;
            }
            button {
                margin: 15px;
            }
        }
    }
    footer {
        background: #404754;
        padding: 30px;
        font-size: 20px;
        nav {
            flex-direction: row;
            a {
                margin-right: 30px;
            }
        }
    }
}


@media (min-width: 1440px) {
    .header {
        min-height: 80px;
        .logo {
            display: block;
            margin-left: 40px;
            margin-right: 100px;
        }
        .menu-btn {
            display: none;
        }
        nav {
            min-height: 80px;
            a {
                display: flex;
                margin-right: 50px;
            }
        }
    }

    .picture {
        padding-top: 160px;
        .content {
            max-width: 1000px;
            margin: 0 auto;

            .description {
                .description-item:nth-last-child(1) {
                    width: initial;
                }
            }
        }

    }

    .form {
        .content {
            max-width: 1000px;
            p {
                font-size: 35px;
            }
            form {
                label, button {
                    flex-grow: 1;
                }
                button {
                    width: initial;
                }
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        nav {
            margin-bottom: 0;
            a {
                margin-bottom: 0;
            }
        }
    }
}