* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #A3A3A3;
  position: absolute;
  z-index: 1;
}

.header .wrapper {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header nav {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-right: 20px;
}

.header nav a {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  color: #9F9F9F;
  font-size: 15px;
}

.header nav a:hover {
  color: white;
}

.header nav .active {
  cursor: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: white;
}

.header nav .active:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: white;
}

.logo {
  display: none;
  width: 65px;
  background: url(../images/logo.png) no-repeat center center/contain;
}

.menu-btn {
  cursor: pointer;
  margin: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-el .item {
  height: 5px;
  width: 5px;
  margin: 1.5px;
  background: white;
}

.search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #A3A3A3;
}

.search label {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-search {
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  font-size: 13px;
  width: 140px;
}

.input-search::-webkit-input-placeholder {
  color: white;
}

.input-search:-ms-input-placeholder {
  color: white;
}

.input-search::-ms-input-placeholder {
  color: white;
}

.input-search::placeholder {
  color: white;
}

.input-search:focus {
  border-bottom: 1px solid #FFFFFF;
}

.search-icon {
  margin: 0 10px;
  padding: 5px;
}

.main {
  min-height: 480px;
  background: url(../images/bg-mobile.jpg) no-repeat center center/cover;
  position: relative;
  padding: 80px 20px 38px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.main .content {
  position: relative;
  z-index: 1;
}

.main .content h2, .main .content p, .main .content a {
  font-weight: normal;
  color: #F6F6F6;
}

.main .content h1 {
  max-width: 150px;
  font-size: 25px;
  color: white;
  margin-bottom: 15px;
  line-height: 30px;
}

.actions {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.action-item {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.action-item span {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #F92251;
  border-radius: 50%;
}

.watch {
  background: #F92251 url(../images/ikons/arrow.svg) no-repeat center center/6px;
}

.mark {
  background: url(../images/ikons/bookmark.svg) no-repeat center center/6px;
}

.description h2 {
  font-size: 15px;
}

.description p {
  font-size: 17px;
  margin-bottom: 5px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews div {
  display: inherit;
}

.reviews p {
  margin-bottom: 0;
}

.star {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background: url(../images/ikons/star.svg) no-repeat center center/contain;
  cursor: pointer;
}

.star.active {
  background: url(../images/ikons/star-active.svg) no-repeat center center/contain;
}

.form {
  background-color: #1F1F2F;
  padding: 30px 20px 20px;
}

.form .content p {
  font-size: 17px;
  color: white;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
}

form input, form button {
  width: 100%;
  height: 35px;
  border-radius: 10px;
}

form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 40px;
  font-size: 17px;
  color: #505050;
  position: relative;
}

form input::-webkit-input-placeholder {
  color: #82868E;
}

form input:-ms-input-placeholder {
  color: #82868E;
}

form input::-ms-input-placeholder {
  color: #82868E;
}

form input::placeholder {
  color: #82868E;
}

form button {
  background: #F92251;
  color: white;
  font-size: 17px;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
  cursor: pointer;
}

form label {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

form label:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  width: 15px;
  height: 15px;
  z-index: 1;
}

form .name:before {
  background: url(../images/ikons/name.svg) no-repeat center center/contain;
}

form .email:before {
  background: url(../images/ikons/email.svg) no-repeat center center/contain;
}

footer {
  background: #404754;
  padding: 16px 20px;
  font-size: 17px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

footer nav a {
  color: #BAC5D3;
  margin-bottom: 8px;
  text-decoration: underline;
}

footer p {
  color: #BAC5D3;
}

@media (min-width: 768px) {
  .btn-el div {
    height: 10px;
    width: 10px;
    margin: 2.5px;
    background: white;
  }
  .header nav a {
    margin: 0 18px;
    font-size: 18px;
  }
  .input-search {
    font-size: 14px;
    width: 170px;
  }
  .search-icon {
    padding: 10px;
    margin: 0 20px 0 40px;
  }
  .main {
    min-height: 810px;
    padding: 110px 90px 85px 90px;
    background: url(../images/bg-desktop.png) no-repeat center left/cover;
  }
  .main .content h1 {
    max-width: 500px;
    font-size: 90px;
    color: white;
    margin-bottom: 30px;
    line-height: 100px;
  }
  .actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 80px;
  }
  .action-item {
    margin-right: 50px;
    font-size: 18px;
  }
  .action-item span.watch, .action-item span.mark {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-size: 12px;
  }
  .main .content h2 {
    font-size: 18px;
  }
  .main .content p {
    font-size: 24px;
  }
  .star {
    margin-right: 17px;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description-item {
    margin-right: 80px;
    margin-bottom: 18px;
  }
  .description-item:nth-last-child(1) {
    width: 100%;
  }
  .form {
    padding-bottom: 55px;
  }
  form input, form button {
    width: 100%;
    min-width: 50px;
    height: 53px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  form label {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 15px;
  }
  form button {
    margin: 15px;
  }
  .form .content {
    max-width: 530px;
    margin: 0 auto;
  }
  .form .content p {
    font-size: 25px;
  }
  footer {
    background: #404754;
    padding: 30px;
    font-size: 20px;
  }
  footer nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer nav a {
    margin-right: 30px;
  }
  .form .content p {
    max-width: initial;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .header {
    min-height: 80px;
  }
  .header nav {
    min-height: 80px;
  }
  .header nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
  }
  .logo {
    display: block;
    margin-left: 40px;
    margin-right: 100px;
  }
  .menu-btn {
    display: none;
  }
  .main {
    padding-top: 160px;
  }
  .main .content {
    max-width: 1000px;
    margin: 0 auto;
  }
  .description .description-item:nth-last-child(1) {
    width: initial;
  }
  .form .content {
    max-width: 1000px;
  }
  .form .content p {
    font-size: 35px;
  }
  form label, form button {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  form button {
    width: initial;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 40px;
  }
  footer nav {
    margin-bottom: 0;
  }
  footer nav a {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */